

<li>
    <a href="../Account/UserManagement">
        <i class="material-icons">verified_user</i>
        <p>
            Accout Verification
        </p>
    </a>
</li>

<li>
    <a href="../Admin/UserManagement">
        <i class="material-icons">account_box</i>
        <p> User Management </p>
    </a>
</li>

<li>
    <a href="../Service/Index">
        <i class="material-icons">person_pin_circle</i>
        <p> Service Entity </p>
    </a>
</li>
