

<li>
    <a href="../Account/UserManagement">
        <i class="material-icons">verified_user</i>
        <p>
            Accout Verification
        </p>
    </a>
</li>

<li>
    <a href="widgets.html">
        <i class="material-icons">widgets</i>
        <p> Midgets </p>
    </a>
</li>

<li>
    <a href="widgets.html">
        <i class="material-icons">person_pin_circle</i>
        <p> Service Entity </p>
    </a>
</li>
