

<li>
    <a data-toggle="collapse" href="#componentsExamples">
        <i class="material-icons">apps</i>
        <p>
            Sidebar Name
            <b class="caret"></b>
        </p>
    </a>

    <div class="collapse" id="componentsExamples">
        <ul class="nav">
            <li>
                <a href="components/buttons.html">
                    <span class="sidebar-mini"> B </span>
                    <span class="sidebar-normal"> Buttons </span>
                </a>
            </li>
            <li>
                <a href="components/grid.html">
                    <span class="sidebar-mini"> GS </span>
                    <span class="sidebar-normal"> Grid System </span>
                </a>
            </li>
            <li>
                <a href="components/panels.html">
                    <span class="sidebar-mini"> P </span>
                    <span class="sidebar-normal"> Panels </span>
                </a>
            </li>
            <li>
                <a href="components/sweet-alert.html">
                    <span class="sidebar-mini"> SA </span>
                    <span class="sidebar-normal"> Sweet Alert </span>
                </a>
            </li>
            <li>
                <a href="components/notifications.html">
                    <span class="sidebar-mini"> N </span>
                    <span class="sidebar-normal"> Notifications </span>
                </a>
            </li>
            <li>
                <a href="components/icons.html">
                    <span class="sidebar-mini"> I </span>
                    <span class="sidebar-normal"> Icons </span>
                </a>
            </li>
            <li>
                <a href="components/typography.html">
                    <span class="sidebar-mini"> T </span>
                    <span class="sidebar-normal"> Typography </span>
                </a>
            </li>
        </ul>
    </div>
</li>

<li>
    <a href="widgets.html">
        <i class="material-icons">widgets</i>
        <p> Midgets </p>
    </a>
</li>
