
<li>
    <a href="../Account/UserProfile?uid=@Session["userId"]">
        <i class="material-icons">pregnant_woman</i>
        <p>
            Profile
        </p>
    </a>
</li>

<li>
    <a href="widgets.html">
        <i class="material-icons">view_agenda</i>
        <p> Posts </p>
    </a>
</li>

<li>
    <a href="widgets.html">
        <i class="material-icons">notification_important</i>
        <p> Notifications </p>
    </a>
</li>