<li>
    <a href="../Account/UserProfile?uid=@Session["userId"]">
        <i class="material-icons">widgets</i>
        <p> Profile </p>
    </a>
</li>
<li>
    <a href="widgets.html">
        <i class="material-icons">widgets</i>
        <p> Notifications </p>
    </a>
</li>