
<div id="uploadImg" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title"><i class="fa fa-upload"></i>&nbsp;&nbsp; UPLOAD YOUR IMAGE</h6>
            </div>

            <div class="modal-body">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <div id="cropImg" style="height:380px"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-rose" style="width:100%" ng-click="uploadImg()">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
