<div class="col-md-12">
    <div class="jumbotron">
      TANAN template files na add na nako paki view nlng ang <a href="https://demos.creative-tim.com/bs3/material-dashboard-pro/examples/tables/regular.html" target="_blank">DEMO</a> nila
    </div>

</div>